.container:hover > div {
  background-color: var(--primary-white);
  color: var(--primary-black);
}

.container:hover .minus {
  background-image: url("/icons/minus-black.svg");
}
.container:hover .plus {
  background-image: url("/icons/plus-black.svg");
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider {
  border-bottom: var(--primary-white) 1px solid;
  width: 100%;
}

.container:hover .divider {
  border-bottom: var(--primary-black) 1px solid;
}

.bodyContainer {
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
  height: auto;
  max-height: 0;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}

.expanded {
  max-height: 500px;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: background-image 0.3s ease-in-out;
  transition: background-image 0.3s ease-in-out;
}

.minus {
  background: url("/icons/minus-white.svg") no-repeat center;
  background-size: 40px;
}

.plus {
  background: url("/icons/plus-white.svg") no-repeat center;
  background-size: 40px;
}
@media only screen and (max-width: 640px) {
  .container:hover > div {
    background-color: var(--primary-black);
    color: var(--primary-white);
  }
  .container:hover .minus {
    background-image: url("/icons/minus-white.svg");
  }
  .container:hover .plus {
    background-image: url("/icons/plus-white.svg");
  }

  .minus {
    background: url("/icons/minus-white.svg") no-repeat center;
    background-size: 30px;
  }
  
  .plus {
    background: url("/icons/plus-white.svg") no-repeat center;
    background-size: 30px;
  }
}
