.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.outline {
  outline: 4px solid #4615b2aa;
}

@media only screen and (max-width: 768px) {
  /* .avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  } */
}
