.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  margin: 1.2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  color: #00020fdd;
  font-weight: 800;
}

.outline {
  outline: 2px solid #4615b2aa;
}

.indicator {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: rgb(244, 67, 54);
  border-radius: 1em;
  bottom: 0.25rem;
  right: 0.25rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.dotGreen {
  background-color: #76ff03;
}

@media only screen and (max-width: 768px) {
  .avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    margin: 0.8rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  .indicator {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 0.8rem;
    bottom: 0.2rem;
    right: 0.1rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.5),
      0 8px 10px -6px rgb(0 0 0 / 0.5);
  }
}
