.userCard {
  width: 220px;
  max-width: 100%;
  background-color: #97d077;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #00020f;
}



.hostBackground {
  background-color: #ffdb57;
}

.userCard h5 {
  font-weight: 900;
  font-size: 1.6rem;
}

.userCard p {
  font-weight: 900;
  font-size: 0.8rem;
  background-color: #e5e5e5;
  max-width: fit-content;
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-style: italic;
  border-radius: 4px;
}

.userCard p > span {
  font-style: normal;
}

.dot {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 1rem;
  background-color: #e5383b;
  margin: auto 0.5rem 0.2rem 0;
}

.dotGreen {
  background-color: #76ff03;
}

@media only screen and (max-width: 768px) {
  .userCard {
    width: 100%;
    max-width: 400px;
    background-color: #97d077;
    border-radius: 0.5rem;
    padding: 0.2rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .hostBackground {
    background-color: #ffdb57;
  }

  .userCard > div {
    text-align: left;
  }

  .userCard > div:last-child {
    flex-grow: 1;
  }

  .userCard h5 {
    font-weight: 900;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }

  .userCard p {
    font-weight: 900;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin: 0;
  }

  .dot {
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
    background-color: #e5383b;
    margin: auto 0.5rem 0.1rem 0;
  }

  .dotGreen {
    background-color: #76ff03;
  }
}
