.userCard {
  width: 220px;
  max-width: 100%;
  height: 100%;
  background-color: var(--card-bg-green);
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--primary-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hostBackground {
  background-color: var(--card-bg-orange);
}

.userCard h5 {
  font-weight: 900;
  font-size: 1.6rem;
  min-height: 60px;
}

.userCard p {
  font-weight: 900;
  font-size: 0.8rem;
  background-color: var(--primary-white);
  max-width: fit-content;
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-style: italic;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background: url("/icons/smiley.svg") no-repeat center;
  background-size: 0.8rem;
}

.hostIcon {
  background-image: url("/icons/compass.svg");
}

@media only screen and (max-width: 768px) {
  .userCard {
    width: 100%;
    max-width: 400px;
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
  }

  .userCard > div {
    text-align: left;
  }

  .userCard > div {
    min-width: max-content;
  }

  .userCard > div:last-child {
    flex: 1 1 auto;
  }

  .userCard h5 {
    font-weight: 900;
    font-size: 1.2rem;
    max-width: 200px;
    height: auto;
    min-height: auto;
    margin-bottom: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .userCard p {
    font-weight: 900;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin: 0;
  }
}
