.container {
  background-color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 0.5rem;
  color: black;
}

.container p {
  font-size: 0.8rem !important;
}

.grayOut {
  opacity: 0.6;
}
