.main {
  width: 100%;
  min-height: 100dvh;
  height: min-content;
  -webkit-transition: background-color 3s ease-in-out;
  -moz-transition: background-color 3s ease-in-out;
  -o-transition: background-color 3s ease-in-out;
  transition: background-color 3s ease-in-out;

}

.stageOne {
  background-color: var(--dynamic-bg-1);
}

.stageTwo {
  background-color: var(--dynamic-bg-2);
}

.stageThree {
  background-color: var(--dynamic-bg-3);
}

.final {
  background-color: var(--dynamic-bg-4);
}
