.main {
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 3s ease-in-out;
  -moz-transition: background-color 3s ease-in-out;
  -o-transition: background-color 3s ease-in-out;
  transition: background-color 3s ease-in-out;
}

.stageOne {
  background-color: #133c55;
}

.stageTwo {
  background-color: #386fa4;
}

.stageThree {
  background-color: #59a5d8;
}

.final {
  background-color: #84d2f6;
}
