.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
.container > div:first-child {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  margin: 0 auto;
  padding: 0 2rem;
  min-width: 250px;
  min-height: 250px;
  width: 45vmin;
  height: 45vmin;
  background-image: radial-gradient(
    ellipse at center,
    #9eaafe 0%,
    #9eaafe88 85%,
    transparent 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container > p {
  text-align: center;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.buttonsContainer > div {
  cursor: pointer;
  margin-top: 0.25rem;
}

.hide {
  display: none;
}

.invisible {
  opacity: 0 !important;
  cursor: default !important;
}

.iconLeft {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url("/icons/arrow-right.svg") no-repeat center;
  transform: rotate(180deg);
  background-size: 2rem;
  margin-left: 0.5rem;
  opacity: 0.75;
}

.iconRight {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: url("/icons/arrow-right.svg") no-repeat center;
  background-size: 2rem;
  margin-left: 0.5rem;
  opacity: 0.75;
}

@media only screen and (max-width: 768px) {
  .iconLeft {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem;
    margin-left: 0.5rem;
    opacity: 0.75;
  }

  .iconRight {
    width: 1.5rem;
    height: 1.5rem;
    background-size: 1.5rem;
    margin-left: 0.5rem;
    opacity: 0.75;
  }
}
