.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.25rem;
  height: 100%;
}
.container > div:first-child {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > p {
  text-align: center;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.buttonsContainer > div {
  cursor: pointer;
  margin: 1.5rem 0;
}

.hide {
  display: none;
}

.invisible {
  opacity: 0;
  cursor: default !important;
}
