.container {
  position: relative;
}

.scrollContainer {
  width: 100%;
  overflow-y: auto;
  padding-right: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.overflowContainer {
  padding: 0.25rem 0;
}

.arrow {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 1.5rem;
  height: 1.5rem;
  background: url("/icons/arrow-right.svg") no-repeat center;
  transform: rotate(90deg);
  background-size: 1.5rem;
}
