.container {
  width: 100%;
  padding: 0 4px;
  border-bottom: solid 1px !important;
  margin-top: 1rem;
}

.container label {
  display: block;
  font-size: 0.8rem;
}

.container input {
  padding: 8px 0 !important;
  background-color: transparent;
  font-size: 1.4rem;
  width: 100%;
}

.dark {
  border-color: var(--primary-white);
}

.dark label {
  color: var(--primary-white) !important;
}

.dark > input {
  color: var(--primary-white) !important;
}

.dark > input::-webkit-input-placeholder {
  color: var(--primary-white) !important;
  opacity: 50%;
}

.dark > input::-moz-placeholder {
  color: var(--primary-white) !important;
  opacity: 50%;
}

.dark > input::-ms-placeholder {
  color: var(--primary-white) !important;
  opacity: 50%;
}

.dark > input::placeholder {
  color: var(--primary-white) !important;
  opacity: 50%;
}

.light {
  border-color: var(--primary-black);
}

.light label {
  color: var(--primary-black) !important;
}

.light > input {
  color: var(--primary-black) !important;
}

.light > input::-webkit-input-placeholder {
  color: var(--primary-black) !important;
  opacity: 50%;
}

.light > input::-moz-placeholder {
  color: var(--primary-black) !important;
  opacity: 50%;
}

.light > input::-ms-placeholder {
  color: var(--primary-black) !important;
  opacity: 50%;
}

.light > input::placeholder {
  color: var(--primary-black) !important;
  opacity: 50%;
}

.error {
  border-color: var(--error-text-red) !important;
}

.error label {
  color: var(--error-text-red) !important;
}

.error input {
  color: var(--error-text-red) !important;
}

.errorMessage {
  margin-bottom: 0.25rem;
  height: 0.9rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-left: 0.25rem;
}

.errorMessage p {
  font-size: 0.8rem;
  color: var(--error-text-red);
}
