.textInput {
  font-size: 1.4rem;
  padding: 4px 8px;
  max-width: 100%;
}

.error {
  margin: 4px 0;
  padding: 4px;
  border: #ffccc7 solid 1px;
  background-color: #fff2f0;
  max-width: fit-content;
  border-radius: 4px;
}

.error p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.88);
}
