.title {
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--primary-white);
  font-size: 1.25rem;
  font-weight: 800;
}

.darkFont {
  color: var(--primary-black);
}

.topGrid {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.tab {
  background-color: var(--warning-bg-orange);
  color: var(--warning-text-orange);
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  font-size: 0.9rem;
  min-width: 120px;
}

.done {
  background-color: var(--success-bg-green);
  color: var(--success-text-green);
}

.offline {
  opacity: 75%;
  background-color: var(--primary-white);
  color: var(--primary-black);
}

.tab > div:first-child {
  font-weight: 800;
}

.tab > div:nth-child(2) {
  font-size: 1rem;
}

@media only screen and (max-width: 640px) {
  .title {
    font-size: 1rem;
  }

  .tab {
    padding: 0.25rem;
    font-size: 0.75rem;
    min-width: 80px;
  }

  .tab > div:nth-child(2) {
    font-size: 0.8rem;
  }
}
