.main {
  padding: 2rem;
  min-height: 100dvh;
  height: 100dvh;
  width: 100vw;
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  height: 100%;
}

.titleContainer {
  max-width: 100%;
  width: 100%;
}

.titleContainer > h1 {
  font-weight: 900;
  font-size: 5rem;
  margin-bottom: 0.25rem;
  width: min-content;
}

.titleContainer > p {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  margin-bottom: 0.25rem;
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
  width: 100%;
}

.linkContainer > a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-wrap: wrap;
  width: 45%;
  border: var(--primary-white) 1px solid;
  border-radius: 4px;
  padding: 0.75rem;
}

.linkContainer > a:hover {
  background-color: var(--primary-white);
  color: var(--primary-black);
}

@media only screen and (max-width: 640px) {
  .titleContainer > h1 {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 0.25rem;
  }

  .titleContainer > p {
    padding-left: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 0.85rem;
  }

  .linkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    width: 100%;
  }

  .linkContainer > a {
    border: var(--primary-white) 1px solid;
    border-radius: 4px;
    padding: 0.8rem;
    width: 100%;
    font-size: 1rem;
  }

  .linkContainer > a:hover {
    color: var(--primary-white);
    background-color: var(--primary-black);
  }
}
