.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 1) 90%,
    rgba(0, 212, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 1) 90%,
    rgba(0, 212, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 1) 90%,
    rgba(0, 212, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#00d4ff",GradientType=1);
}

.main h1 {
  text-align: center;
  font-size: 1.6rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.label {
  margin-top: 1rem;
  padding-bottom: 1px;
}

.submitButton {
  font-size: 1.2rem;
  padding: 8px 16px;
  cursor: pointer;
}

.backButton {
  font-size: 1.2rem;
  padding: 8px 16px;
  margin: 16px 0;
  border: 2px white solid;
  border-radius: 4px;
  cursor: pointer;
}
