.main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.topbar {
  position: absolute;
  top: 2rem;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
}

.stageControls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.4rem;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .topbar {
    position: absolute;
    top: 0;
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
  }
}
