.container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  color: var(--primary-black);
  background-color: var(--primary-white);
  border-radius: 0.25rem;
}

.spotlight {
  text-align: center;
  border-bottom: var(--primary-black) 1px solid;
  padding-bottom: 0.5rem;
}

.spotlight > h3 {
  margin-bottom: 0.5rem;
}

.spotlight > div {
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  gap: 0.5rem;
}

.spotlight > div > p:nth-child(odd) {
  font-weight: 800;
}

.spotlight > div > p:nth-child(even) {
  justify-self: end;
  font-style: italic;
}

.roleInfo {
  width: 100%;
  padding: 0 1rem;
  flex: 1 1 auto;
  min-height: 0;
}

.roleInfo > h3 {
  font-size: 2rem;
}

.tipsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90%;
}

.tipsContainer > div {
  width: 100%;
}

.roleInfo > p,
.tipsContainer p {
  font-size: 1.5rem;
  text-align: center;
}
.roleInfo > p::after,
.tipsContainer p::after {
  display: block;
  content: "";
  width: 2rem;
  margin: 1.5rem auto;
  border-bottom: var(--primary-black) 2px solid;
}

.modalContent {
  width: 100%;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  border-radius: 0.5rem;
}

.modalContent h5,
.modalContent p {
  margin-bottom: 0.8rem;
}

.modalButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

.done {
  background-color: var(--success-bg-green);
}

.hostContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.hostContainer > p {
  text-align: center;
  font-size: 0.75rem;
}

.hostButton {
  padding: 0.5rem 1rem;
  margin: 0 auto;
  background-color: var(--accent-1);
  color: var(--primary-white);
}

@media only screen and (max-width: 640px) {
  .roleInfo > h3 {
    font-size: 1.5rem;
  }

  .roleInfo > p,
  .tipsContainer p {
    font-size: 1.2rem;
    text-align: center;
  }

  .hostContainer > p {
    text-align: center;
    font-size: 0.6rem;
  }
}
