.container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  color: black;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.container > div {
  background-color: #ffffffee;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
}

.spotlight {
  text-align: center;
}

.spotlight h3 {
  margin-bottom: 0.5rem;
}

.spotlight div {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  flex-flow: row wrap;
}

.spotlight > * {
  padding: 0.1rem 0;
}

.spotlight div p {
  border-bottom: black 2px solid;
}

.roleInfo {
  flex-grow: 1;
}

.roleInfo h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.list {
  padding-left: 1rem;
}

.list li {
  font-size: 0.8rem;
  margin: 0.2rem 0;
}

.userContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.userContainer div {
  display: flex;
  width: 100%;
  padding: 0 0.2rem;
  align-items: center;
}

.userContainer div p {
  flex-grow: 1;
}

.userContainer div p,
.userContainer div button {
  font-size: 0.8rem;
}

.modal {
  position: fixed;
  inset: 0;
  background: transparent;
  z-index: 5;
}

.modal > div {
  position: absolute;
  inset: 0;
  background: #00000088;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #ffffff;
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.modalContent h5,
.modalContent p {
  margin-bottom: 0.8rem;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
}
