.stageControls {
  width: 100%;
  height: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stageControls > p {
  font-size: 0.8rem;
  padding: 0.25rem;
  border-radius: 0.4rem;
  border: #ffffff 2px solid;
}
