.container {
  width: 100%;
  color: var(--primary-white);
  margin: 0 auto;
  text-align: center;
}

.userContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.legend {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  margin: 1rem 0;
}
